appnope
attrs
backcall
bleach
certifi
chardet
decorator
defusedxml
entrypoints
gmplot
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
Send2Trash
six
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
zipp
transforms3d
